    #cy0, #cy1 {
        width: 100%;
        height: 100%;
        position: absolute;
        /*background-color: bisque;*/
        border-radius: 10px;
        border: 2px solid #4CAF50;
    }

    #task {
        width: 88%;
        height: 88%;
        position: absolute;
        top: 10%;
        left: 10%
    }

    #system {
        width: 88%;
        height: 88%;
        position: absolute;
        top: 10%;
        left: 10%;
        display: none;
    }

    .tabs ul {
        list-style-type: none;
        position: absolute;
        -webkit-padding-start: 0px;
        -webkit-margin-before: 0px;
        -webkit-margin-after: 0px;
    }

    .tabs li {
        float: left;
    }

    .tabs a {
        display: block;
        padding: 5px 10px;
        background-color: #EEE;
        color: #000;
        text-decoration: none;
        border-top: 1px solid #CCC;
        border-left: 1px solid #DDD;
        border-right: 1px solid #DDD;
        font: 13px/18px verdana, arial, sans-serif;
        border-bottom: 1px solid #CCC;
    }

    .tabs a.active {
        background-color: #fff;
        border-bottom: 1px solid #fff;
    }

    .column {
        display: inline-block;
    }

    .btn {
        position: relative;
        width: 100%;
        padding: 5px 30px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 10px;
        background-color: white;
        color: black;
        border: 2px solid #4CAF50;
        transition-duration: 0.2s;
        margin-top: 5px;
    }

    .btn:hover {
        background-color: #4CAF50; /* Green */
        color: white;
    }

    .btn:active {
        box-shadow: inset 0 0 0 1px #27496d, inset 0 5px 50px #193047;
    }

    .buttons{  
        position: absolute;
        top: 10%
    }

    #input-file{
        display: none
    }

    #modeling {
        width: 88%;
        position: absolute;
        top: 10%;
        left: 10%;
        display: none;
    }

    #modeling_container {
        text-align: center;
        width: 100%;
        border-radius: 10px;
        border: 2px solid #4CAF50;
    }

    #modeling_table_container {
        width: 100%;
    }

    #modeling_config {
        display: inline-block;
    }

    #modeling_table {
        width: 100%;
    }
    table {
        border-collapse: collapse;
    }

    table, th, td {
        border: 1px solid black;
        text-align: center;
    }